.about, .aboutMe, .accordions{
  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: var(--card-grid-gap-articles);

  border-style: solid;
}

.about{
  flex-direction: column;
}

.flexGrow{
  width: 500px;
  flex-grow: 1;
  max-width: 100%;
}

.flexNoGrow{
  flex-grow: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.aboutMe{
  width: 100%;
  flex-wrap: wrap-reverse;
}

.aboutMe, .accordions{
  border-width: 0px;
}

.accordions{
  width: 100%;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}

.accordion{
  list-style: none;
  width: 300px;
  flex-grow: 1;
}

.aabb1{
  width: 200px;
  height: 200px;
  background-color: var(--border);
}

.content{
  display: flex;
  flex-direction: column;
  gap: var(--hero-gap);
}