.about{
  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: var(--card-grid-gap-articles);

  border-style: solid;
}

.aabb1{
  width: 200px;
  height: 200px;
  background-color: var(--border);
}

.content{
  display: flex;
  flex-direction: column;
  gap: var(--hero-gap);
}