.footer{
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.footerRow{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footerCenter{
  display: flex;
  gap: 2px;
}

.footerLine{
  height: 2px;
  min-width: 20svw;
  width: 100%;
  background-color: var(--border);
}

.footerLeft, .footerRight{
  flex-grow: 0.4;
}

.heroIcon1, .heroIcon2{
  width: 21px;
  height: 21px;
  background-color: var(--border);
}

.icon{
  color: var(--border);
  width: 21px;
  height: 21px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 0 transparent;
  transition: scale 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.icon:hover {
  scale: 1.5;
  box-shadow:
    0 0 2px var(--primary),
    0 0 4px var(--primary),
    0 0 8px var(--primary);
}