.hero{
  position: relative;
  height: calc(100vh - 75px)
}

.heroText{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroHl{
  background-color: var(--border);
  height: 2px;
  width: 0px;

  animation-name: growWidth;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

@keyframes growWidth {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

.heroScrollbox{
  position: absolute;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.heroSide{
  position: absolute;
  height: 100%;
  left: 20%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 2px;
}

.heroIcon1, .heroIcon2{
  width: 21px;
  height: 21px;
  background-color: var(--border);
}

.vl{
  height: 42px;
  width: 2px;
  background-color: var(--border);
}

.icon{
  color: var(--border);
  width: 21px;
  height: 21px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 0 transparent;
  transition: scale 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.icon:hover {
  scale: 1.5;
  box-shadow:
    0 0 2px var(--primary),
    0 0 4px var(--primary),
    0 0 8px var(--primary);
}