.nav{
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;

  background-color: rgba(0,0,0,0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  min-height: 49px;

  z-index: 100;
}

.navDiv{
  height: 100%;
  flex-grow: 1;

  display: flex;
  align-items: center;

  flex-wrap: wrap;

  margin: 16px;
  gap: 42px;
}

.navDivLast{
  justify-content: end;
}

/*Colors*/

.nav div:first-of-type p{
  color: var(--text);
}

.nav div:last-of-type p{
  color: var(--primary);
}