.nav{
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;

  background-color: rgba(0,0,0,0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  min-height: 49px;

  z-index: 100;
}

.navDiv{
  height: 100%;
  flex-grow: 1;

  display: flex;
  align-items: center;

  flex-wrap: wrap;

  margin: 16px;
  gap: 42px;
}

.navDivLast{
  justify-content: end;
}

/*Colors*/

.nav div:first-of-type p{
  color: var(--text);
}

.nav div:last-of-type p{
  color: var(--primary);
}

/* links */
.navDiv a {
  text-decoration: underline transparent;

  text-shadow: 0 0 0 transparent;
  transition: text-shadow 0.2s ease-in-out;
}

a:hover {
  text-shadow: 
    0 0 5px var(--primary),
    0 0 10px var(--primary),
    0 0 20px var(--primary),
    0 0 40px var(--primary),
    0 0 80px var(--primary),
    0 0 90px var(--primary),
    0 0 100px var(--primary),
    0 0 150px var(--primary);
}