.aabb2{
  width: 400px;
  height: 200px;
  background-color: black;
}

.projects, .project2, .project3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.projectsFlex{
  display: flex;
  align-items: center;
  gap: 10px;
}