.aabb2{
  width: 400px;
  height: 200px;
  background-color: var(--border);
  max-width: 100%;
}

.projects, .project2, .project3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--card-grid-gap-articles);
}

.projectsFlex{
  display: flex;
  align-items: center;
  gap: var(--card-grid-gap-articles);

  border-radius: var(--section-radius);
  border-color: var(--border);
  border-width: 2px;
  padding: var(--section-padding);
  border-style: solid;

  overflow: hidden;
  flex-wrap: wrap;
}

.flexGrow{
  width: 500px;
  flex-grow: 1;
  max-width: 100%;
}

.flexNoGrow{
  flex-grow: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.projectLink{
  text-decoration: none;
  width: fit-content;
}

.projectLink p{
  width: fit-content;
  color: var(--primary);
}

.projectList{
  background-color: var(--surface);
  max-width: 1200px;
  width: 100%;
  align-self: center;

  border-radius: var(--section-radius);
  border-color: var(--border);
  border-width: 2px;

  box-shadow: var(--grid-section-shadow);
}

.card{
  display: flex;
  flex-direction: column;
  gap: var(--article-gap);
}

.tags{
  display: flex;
  gap: var(--tags-gap);
  padding-top: var(--tags-padding-top);
}

.tags span{
  background-color: antiquewhite;
  padding: var(--badge-padding);
  border-radius: var(--badge-radius);
  font-size: var(--small-font);
  font-weight: var(--font-weight);
}

.tags span{
  background-color: var(--badge-2);
  border-color: var(--badge-2-border);
  border-style: solid;
  border-width: 2px;
}

.tags span:first-of-type{
  background-color: var(--border);
  border-color: var(--border);
}

.tags span:last-of-type{
  background-color: var(--badge-3);
  border-color: var(--badge-3-border);
}

span{
  color: var(--text);
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tags .csharp{
  border-color: rgb(35, 145, 32);
  background-color: rgba(36, 145, 32, 0.392);
}

.projects, .project2{
  padding-bottom: clamp(0rem, calc(0rem + ((100vw - 500px)/10) * 0.2), 1.5625rem); /* 0 - 25px */
}