*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body{
  height: 100svh;
}

#root{
  display: flex;
  flex-direction: column;
}

/*Navbar*/

nav{
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;

  background-color: darkslategray;
  min-height: 70px;

  z-index: 100;
}

nav div{
  height: 100%;
  flex-grow: 1;

  display: flex;
  align-items: center;

  flex-wrap: wrap;

  margin: 16px;
  gap: 42px;
}

nav div:last-of-type{
  justify-content: end;
}

/*Sections*/
section{
  padding: 10px;
  min-height: 300px;
}

/*Hero*/

.hero{
  position: relative;
}

.hero-text{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text p{
  text-align: center;
}

.hero-hl{
  background-color: black;
  height: 2px;
  width: 0px;

  animation-name: growWidth;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

@keyframes growWidth {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

.hero-scrollbox{
  position: absolute;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.hero-scroll{
  width: 42px;
  height: 21px;
  background-color: black;
}

.hero-side{
  position: absolute;
  height: 100%;
  left: 20%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 2px;
}

.hero-icon-1, .hero-icon-2{
  width: 21px;
  height: 21px;
  background-color: black;
}

.vl{
  height: 42px;
  width: 2px;
  background-color: black;
}

/* About */

.about{
  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: 10px;
}

.aabb-1{
  width: 200px;
  height: 200px;
  background-color: black;
}
