*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body{
  display: flex;
  flex-direction: column;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: darkslategray;
  height: 70px;
}

nav div{
  height: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 16px;
  gap: 42px;
}

nav div:last-of-type{
  justify-content: end;
}