/* Vars */
:root {
  --bg: #060911;
  --surface: #0E111B;
  --surface-2: #1A1F2E;
  --text: #F0F5FF;
  --subtext: #B8BDCB;
  --inputtext: #757575;
  --primary: #CA79FF;
  --secondary: #00D2FD;
  --accent: #FF49BA;
  --warning: #E6CC00;
  --danger: #F93247;

  --border: #291D3C;
  --badge-2: #00D3FF33;           /* with 20% transparency */
  --badge-2-border: #00D3FF59;    /* with 35% transparency */
  --badge-3: #FF4ABA33;           /* with 20% transparency */
  --badge-3-border: #FF4ABA59;    /* with 35% transparency */
  --btn-border: #CA79FF8C;        /* with 55% transparency */


  --btn-normal-from:#CA79FFCC;    /* with 80% transparency */
  --btn-normal-to:#CA79FF99;      /* with 60% transparency */

  --btn-hover-from:#CA79FFCC;     /* with 80% transparency */
  --btn-hover-to:#FFFFFF99;       /* with 60% transparency */

  --btn-active-from:#9B00FFCC;    /* with 80% transparency */
  --btn-active-to:#CA79FF99;      /* with 60% transparency */

  --grid-section-shadow: 0px 8px 24px #00000059;
  --btn-shadow: 0px 1px 2px #0000004D;


  --body-font-family: 'Inter', Arial, sans-serif;
  --extra-font-family: 'Playfair Display', 'Libre Baskerville', Georgia, serif;

  --body-font: 1rem;          /* 16px */
  --small-font: 0.938rem;     /* 15px */
  --caption-font: 0.813rem;   /* 13px */

  --font-weight: 600;

  --section-radius: 24px;
  --form-radius: 16px;
  --article-radius: 24px;

  --section-padding: 25px 25px;
  --form-padding: 13px 17px;
  --article-padding: 24px 25px 25px;

  --hero-gap: clamp(0.525rem, calc(0.525rem + ((100vw - 500px)/10) * 0.2), 0.75rem);              /* 12px */
  --card-grid-gap-main: clamp(0.525rem, calc(0.525rem + ((100vw - 500px)/10) * 0.2), 0.75rem);    /* 12px */
  --card-grid-gap-articles: clamp(0.7rem, calc(0.7rem + ((100vw - 500px)/10) * 0.2), 1rem);       /* 16px */
  --article-gap: clamp(0.525rem, calc(0.525rem + ((100vw - 500px)/10) * 0.2), 0.75rem);           /* 12px */
  --main-gap: clamp(0.7rem, calc(0.7rem + ((100vw - 500px)/10) * 0.2), 1rem);                     /* 16px */

  --tags-padding-top: 4px;
  --tags-gap: 8px;

  --badge-padding: 5.59px 10.6px 7.1px;
  --badge-radius: 16px;

  --h1-font-size: clamp(1.575rem, calc(1.575rem + ((100vw - 500px)/10) * 0.2), 2.25rem);      /* 36px */
  --h2-font-size: clamp(1.225rem, calc(1.225rem + ((100vw - 500px)/10) * 0.2), 1.75rem);      /* 28px */
  --h3-font-size: clamp(0.9625rem, calc(0.9625rem + ((100vw - 500px)/10) * 0.2), 1.375rem);   /* 22px */

  --h1-font-weight: bold;
  --h2-font-weight: 700;
  --h3-font-weight: bold;

  --label-font-weight: 400px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body{
  height: 100svh;

  font-size: var(--body-font);
  background-color: var(--bg);
}

#root{
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

p{
  color: var(--subtext);
  font-family: var(--body-font-family);
  font-weight: var(--font-weight);
}

h2, h3{
  color: var(--text);
  font-family: var(--body-font-family);
}

h1{
  color: var(--text);
  font-weight: var(--h1-font-weight);
  font-size: var(--h1-font-size);
  font-family: var(--extra-font-family);
}

h2{
  font-weight: var(--h2-font-weight);
  font-size: var(--h2-font-size);
}

h3{
  font-weight: var(--h3-font-weight);
  font-size: var(--h3-font-size);
}

/*Sections*/
section{
  min-height: 300px;
  overflow: hidden;

  max-width: 1200px;
  width: 100%;
  align-self: center;

  border-radius: var(--section-radius);
  border-color: var(--border);
  border-width: 2px;
  padding: var(--section-padding);
}

/* Blobs */
.blob-container {
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: hidden;
}

.blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(120px);
    opacity: 0.7;
}

.blob1 {
    width: 400px;
    height: 400px;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, #ff3cac, transparent 30%);
}

.blob2 {
    width: 500px;
    height: 500px;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, #CA79FF, transparent 70%);
}

.blob3 {
    width: 600px;
    height: 600px;
    top: 0%;
    left: 100%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, #00D2FD, transparent 50%);
}

.blob4 {
    width: 400px;
    height: 400px;
    top: 100%;
    left: 0%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, #ff3cac, transparent 30%);
}

/* Navigation */
#about, #projects, #contact {
  scroll-margin-top: 64px;
}
#hero {
  scroll-margin-top: 69px;
}

